@charset "utf-8";

.vermelho{
width:100%;
max-width:1024px;
height:auto;
padding:10px;
background-color:red;
}

.laranja{
width:50%;
height:auto;
padding:10px;
background-color:orange;
}

.amarelo{
width:50%;
height:auto;
padding:10px;
background-color:yellow;
}

.ouro{
width:50%;
height:auto;
padding:10px;
background-color:gold;
}

.roxo{
width:50%;
height:auto;
padding:10px;
background-color:purple;
}






