@charset "utf-8";

.cor{
color:red;
color:#00ff00;
color:#00ff0030;
color:rgb(0,0,255);
color:rgb(0,0,255, 0.5);
color:hsl(320, 35%, 45%);
color:hsl(320, 35%, 45%, 0.5);
}

.estilo{
font-style:normal;
font-style:italic;
font-style:oblique;
}

.variante{
font-variant:normal;
font-variant:small-caps;
}
.normal{font-variant:normal;}

.peso{
font-weight:normal;
font-weight:inherit;
font-weight:bold;
font-weight:bolder;
font-weight:lighter;
font-weight:700;
}

.familia{
font-family: 'Braah One', sans-serif;
font-family: 'Pacifico', cursive;
}

.tamanho{
font-size:50px;
font-size:medium;
font-size:xx-large;
font-size:xx-small;
}


.alinhar{
text-align:left;
text-align:right;
text-align:center;
text-align:justify;
}

.linha{
text-decoration-line:underline;
text-decoration-line:overline;
text-decoration-line:line-through;
text-decoration-line:none;
text-decoration-line:underline overline line-through;
}

.linha-cor{
text-decoration-line:line-through;
text-decoration-color:red;
}

.linha-estilo{
text-decoration-line:underline;
text-decoration-style:solid;
text-decoration-style:dotted;
text-decoration-style:dashed;
text-decoration-style:wavy;
}

.linha-espessura{
text-decoration-line:line-through;
text-decoration-thickness:5px;
}

.indenta{
text-indent:30%;
}

.transforma{
text-transform:capitalize;
text-transform:uppercase;
text-transform:lowercase;
}

.sombra{
text-shadow:3px 3px 0 red;
}













