@charset "utf-8";

body{
margin:0;
color:white;
background-color:grey;
}

.vermelho{
width:200px;
height:200px;
margin:30px 60px 80px 100px;
padding:30px;
border:10px double blue;
background-color:red;
}

.laranja{
width:200px;
/*height:200px;*/
margin:40px;
border:10px dotted blue;
padding:30px;
box-sizing:border-box;
background-color:orange;
}

.amarelo{
width:200px;
/*height:200px;*/
border:20px dashed blue;
padding:10px 20px 30px 40px;
background-color:yellow;
}

.amarelo img{
width:200px;
border:2px dashed white;
}















